@font-face {
  font-family: "iconfont"; /* Project id 4973886 */
  src: url('//at.alicdn.com/t/c/font_4973886_7sp5kjtcuq.woff2?t=1752508869525') format('woff2'),
       url('//at.alicdn.com/t/c/font_4973886_7sp5kjtcuq.woff?t=1752508869525') format('woff'),
       url('//at.alicdn.com/t/c/font_4973886_7sp5kjtcuq.ttf?t=1752508869525') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-python:before {
  content: "\e767";
}

.icon-github:before {
  content: "\e741";
}

.icon-icon-email:before {
  content: "\e648";
}

.icon-wangzhan:before {
  content: "\e628";
}
