@font-face {
  font-family: "iconfont"; /* Project id 4769077 */
  src: url('//at.alicdn.com/t/c/font_4769077_6bzl5kb8bbk.woff2?t=1733244012044') format('woff2'),
       url('//at.alicdn.com/t/c/font_4769077_6bzl5kb8bbk.woff?t=1733244012044') format('woff'),
       url('//at.alicdn.com/t/c/font_4769077_6bzl5kb8bbk.ttf?t=1733244012044') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-about:before {
  content: "\e600";
}

.icon-link:before {
  content: "\e772";
}

.icon-categories:before {
  content: "\e637";
}

.icon-tags:before {
  content: "\e7e5";
}

.icon-time-circle:before {
  content: "\e784";
}

.icon-home:before {
  content: "\e7c6";
}
